{% extends "base.html.twig" %}
{% block body %}
<ul class="list-group">
    <li class="list-group-item active">Pour payer, vous devez choisir parmi les moyens de paiement ci-dessous :</li>
    {% set moyensPaiement = ['Mvola', 'Orange Money', 'PayPal', 'Carte Bancaire'] %}
        {% for moyen in moyensPaiement %}
            <li class="list-group-item d-flex justify-content-between">Vous pouvez payer via : {{ moyen }} <button type="button" class="btn btn-dark w-25" >Payer via : {{ moyen }}</button></li>

        {% endfor %}
  </ul>
{% endblock %}